@import url("https://fonts.googleapis.com/css2?family=Joan&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Joan", serif;
  background-color: hsl(185, 75%, 39%);
  font-size: 18px;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-size: auto;
  background: #00f260; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0575e6,
    #00f260
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0575e6,
    #00f260
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-repeat: no-repeat;
}

.profile-card {
  background-color: #ffffff;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 328px;
  box-shadow: 1px 1px 2px hsl(0, 0%, 59%);
}
.bottom-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-background {
  width: 328px;
  border-radius: 13px 13px 0 0;
}

/* TOP HALF OF CARD */

img {
  border-radius: 50%;
  border: 5px solid #ffffff;
  margin-top: -50%;
  height: 150px;
  width: 150px;
}

/* BOTTOM HALF OF CARD */

.top-desc {
  text-align: center;
}

.name {
  font-weight: 700;
  padding: 0.5em;
  color: hsl(229, 23%, 23%);
  font-size: 1.2em;
}

.email {
  font-weight: 400;
  margin-top: 0.3em;
  color: #818184;
  font-size: 1em;
}
/* From uiverse.io */
.button {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  color: black;
  font-family: "Joan", serif;
  z-index: 1;
  margin: 20px 0;
  cursor: pointer;
}

.button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: transparent;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:hover {
  color: #ffffff;
  border: 1px solid #39bda7;
}

.button:hover:before {
  top: -35%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
  top: -45%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
/* FOOTER */

.attribution {
  text-align: center;
  font-size: 0.6em;
  padding: 5em;
  width: 100%;
}
